
@import url(./normalize.css);  /* 노멀라이즈는 가장 먼저 선언해야함 */
@import url(./reset.css); /* 이 순서를 유지야함 */
@import url(./fonts.css);
/* 숨긴 콘텐츠 */
.a11y-hidden, legend {
  background-color: yellow;
  position: absolute; /* inline-block으로 해도 된다 */
  width: 1px; /* 0값을 주면 안되는 이유? 크기가 없는 개체는 포커싱이 안됨(스크린리더가 못읽음)*/
  height: 1px;
  margin: -1px; /* 음수마진으로 여백을 만들어 배치함으로써 잘라내도 영향이 없는 상태로 만드는 것 */
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  /* opacity: 0도 모바일에서 못읽는 이슈가 있다. */
  /* color: transparent도 스크린리더가 못 읽는다*/
}
/* 기본 스타일 */
*,
*::before
*::after {
  box-sizing: border-box; 
}
html {
  font-size: 10px;
}
/* 링크 스타일*/
a {
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
body {
  font-size: 1.4rem;
  color: #222;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* 3. 글자 가져올땐 “해당”, ~, ~, ~, 마지막은 sans-serif; → 해야지 깔끔하게 글자를 처리할 수 있음 */
  /* background: #ccc;
  background-image: url("./images/bg_flower.png"),
                    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0px, 0 0; */
  /* 배경을 여러개 깔 수 있게 되었다(모던), 모든 요소 다 콤마로 추가할 수 있다. */

  /* 단축방식 */
  background: url("./images/bg_flower.png") no-repeat 50% 0, 
  #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%) repeat 0 0;
  /* 왜? #ccc다음에 그라디언트는 순서와 상관없이 이렇게 배치해야 오류가 나지 않는다. */

}

/* 레이아웃 - 셀렉터 그룹핑 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;      /* padding: 위/아래 좌/우 */
  border-radius: 0 0 15px 15px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}
/* 텍스트 링크 모음 */
.member {
  text-align: right;
  font-size: 0;
  padding: 10px 0;
  /* position 속성을 활용 .member 영역을 오른쪽으로 10px만큼 이동 */
  /*position: relative;
  right: -10px;*/
  /* transform 속성을 활용 .member 영역을 오른쪽으로 10px 만큼 이동하기*/
  transform: translateX(10px);
}
.member li{
  display: inline;
  font-size: 14px;
}
.member a{
  padding: 10px;
  display: inherit;
  text-transform: uppercase;
}
/* 가장 오른쪽 padding을 없애는 방법 */
/*
.member li:last-child a {
  padding-right: 0;
}
*/
.divider {
  margin-right: 4px;
}
.navigation{
  padding-bottom: 45px;
}
.menu {
  border-top: 2px solid #212121;
  background-color: orangered;
  /* 그라디언트 주는 방법 */
  background-image: linear-gradient(      
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%);
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 45px;
  position: relative;
}
/* sub메뉴 위치 설정하는 것 */
.menu-html,
.ment-css,
.menu-standard {
  left: 0;
}
.menu-accessibility,
.menu-qna,
.menu-archive{
  right: 0;
}
/*상속width가 어떻게 되어있는지 확인*/

/* .menu li{
  float: left;
  border-left: 2px solid #fff;
} */
.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}
.menu-button{
  border: 0;
  background: transparent;
  padding: 0 26px;
  line-height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
/* 마우스로 버튼 위에 올렸을때 */
.is-active .menu-button{
  color: #ff0;
}
/* "HTML에 대해" 밑줄 / 왜 이렇게 짤까? 고민해보자... */
.is-active .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu {
  position: absolute; 
  /* 배치를 하기 위해서 position으로 사용 */ 
  display: none;
  /* 메뉴아이템 정렬을 깔끔하게 하기 위해, absolute로 띄우고 안보이게 함*/
  padding: 4px 0;
}
/* .menu-html, .menu-css, .menu-standards{
  left: 0;
}
.menu-accesibility, .menu-qna, .meno-archive{
  right: 0;
} */

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}
.sub-menu li{
  display: inline-block;
  padding: 10px;
}
/* 문단 앞에 특수기호 넣는것(폰텔로) */
.sub-menu a::before{  
  content: '\e805';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
/* 마우스를 올리면 실행이 됨 */
.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: "\e801";
}
.sub-menu a {
  display: inline;
  padding: 6px 0;
}
.sub-menu a:hover,
.sub-menu a:focus{
  color: royalblue;
}
/* 비주얼 */
/* 글자가 움직이면서 커지는 이펙트 */
@keyframes moveEffect{
  0% {
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100% {
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes fadeEffect{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  /* background: pink; */
  height: 120px;
  position: relative;
  /* relative가 굳이 필요하진 않지만, 이유가 있다! 1. ? */
}
.visual::before,
.visual::after{
  /* 가상선택자를 사용하는 이유는? HTML에 굳이 요소를 추가 안하려고! */
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: fadeEffect;
  animation-duration: 2400ms;
  animation-iteration-count: infinite; /* 몇번 반복하는지 */
  animation-direction: alternate; /* 사라졌다가 다시 나왔다가 하는 요소 */
  /* 배경을 겹치려고 가상선택자로 블록을 만들어 부모요소 크기와 같게 씌우려고 하는것 */
  /* animation: moveEffect 2400ms infinite alternate; 합쳐서도 쓸 수 있다 */
}
.visual::before{
  background: url(./images/ani_flower_01.png) no-repeat 30% 20px, url(./images/ani_flower_02.png) no-repeat 55% 0px;
}
.visual::after{
  background: url(./images/ani_flower_01.png) no-repeat 95% 0px, url(./images/ani_flower_02.png) no-repeat 5% 30px;
  animation-delay: 1200ms;
}
.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out; /* 움직임 효과 */
  animation-fill-mode: forwards;
  /* display: inline-block; */
  /* position: absolute; */
  position: relative;
  z-index: 1;
}
/* 메인 */
.main {
  background: #fff;
  display: flow-root; 
  padding: 30px 15px;
  min-height: 450px;
  border-radius: 15px 15px;
  /* overflow: hidden; */
}
/* before, after 선택자: 백그라운드 이미지임 -> 홈페이지에서 cmd+A눌러도 선택이 안된다!

.main::before {
  content: "첫번째 자식 요소 입니다."; 
  color: white;
}
.main::after {
  content: "마지막 자식 요소 입니다.";
  color: white;
}

*/
.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  width: 250px;
}
/* 로그인 영역 - 221209 수업! */
.login{
  box-shadow: 5px 5px 0 0 #ccc;
  background: orange radial-gradient(circle at right top,orange,orangered);
  /* linear-gradient가 아니고 radial-gradient다 */
  /* orange를 가장 앞에 주는 이유는? fallback: 그라디언트가 지원이 안될 수 있으니, 대안으로 배경을 깔아놓은것 */
  padding: 15px;
  border-radius: 10px;
}
.login-title{
  color: yellow;
  font-weight: 600; /* bold: 700, bolder: 800~ */
  font-size: 14px;
  text-indent: 8px; /* 1em은 "한글자 만큼"이라는 뜻 */
}
.login-form{
  font-size: 13px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.user-email {
  padding-bottom: 5px;
}
.user-pw {
  padding-bottom: 5px;
}
.login-form label{
  display: inline-block;
  line-height: 20px;
  width: 4em;
}
.login-form input{
  font-size: 13px;
  text-indent: 3px;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 80px;
  height: 20px;
  box-shadow: 1px 1px 2px #aaa inset;
}
.button-login{
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 54px;
  position: absolute;
  top: 0px;
  right: 0px;
  /* float을 쓸수 없는 이유는? 다른 부모 영역으로는 못 올라가기 때문에! */
}
.login-form fieldset{
  border-bottom: #aaa solid 1px;
  position: relative;
  padding-bottom: 5px;
}
.sign{
  font-size: 12px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.sign a{
  padding: 6px 0px;
}
.sign a::before{
  content:"\e803";
  font-family: "fontello";
  margin-right: 7px;
  color: orangered;
  text-shadow: 2px 2px 2px #bbb;
}
/* 로그인 영역 끝 */
/* 유효성 검사 */
.validation-list {
  margin-top: 25px;
}
/* 마진병합(margin collapsing) */
/* 복습할 구간!!!! */
.validation-list li {
  margin-top: 10px;
}
/* 도형 모든 영역 링크가 걸리게 하려면, a를 CSS작업해라! */
.validation-list a{
  display: block;
  right: -200px;
  background: url("./images/validation_icon.png") no-repeat 20px 50%,  
  linear-gradient(to bottom, #ccc, #eee);
  /* 내가 못한 부분 1 */
  padding: 8px 15px 8px 45px;
  border-radius: 30px;
  border: 1px solid #aaa;
  line-height: 30px;
}
/* before도 사용 가능하지만, 배경 넣는 방식으로! */
/* .validation-list a::before{
  content: url(./images/validation_icon.png);
  margin-right: 6px;
  vertical-align: middle;
} */
.validation-list a:hover,
.validation-list a:focus{
  color: orangered;
}
/* 유효성 검사 끝 */
/* 웹 관련 용어 */
.term {
  margin-top: 20px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: #aaa 1px solid;
  border-radius: 5px;
  padding: 10px 15px;
}
.term-title {
  font-size: 1.3em;
  font-weight: 700;
}
.term-list {
  margin-top: 10px;
  background-color: yellow;
}
.term-list div {
  margin-top: 10px;
  background: pink;
  display: flow-root; /* 자식요소에게 각 개별 공간을 만들어주는 것! */
}
.term-list-subject {
  background: lime;
  float: right;
  width: 140px;
  color: rgb(10, 71, 132);
  font-weight: 600;
}
.term-list-thumbnail {
  background: purple;
  float: left;
}
.term-list-thumbnail img {
  vertical-align: middle; /* 이미지 아래 살짝나온 갭을 없애기 위해 배치하는 것 */
}
.term-list-brief {
  background: coral;
  float: right;
  width: 140px;
}

.group2 {
  background-color: coral;
  width: 380px;
}
.group3 {
  background-color: gold;
  width: 190px;
}
.clearfix {
  clear: both;
}
/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background: gray 
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
.footer-inner {
  background: lightgray;
  height: 15vh;
}